* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'oswald', sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100vw;
}

.container-left {
    display: inline-block;
    width: 60%;
    margin-top: 25%;
    padding-left: 136px;
}

.container-right {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}

img {
    width: 456px;
    height: 561.95px;
    position: relative;
    top: 25%;
    right: 130px;
}

h1 {
    color: #5D5D7D;
    font-size: 70px;
    font-weight: 400;
    line-height: 80px;
    width: 368px;
}

p {
    color: #5D5D7D;
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
    width: 540px;
    opacity: 0.6;
    margin-top: 15px ;
    margin-bottom: 15px;
}

button {
    background-color: #9499EA;
    filter: drop-shadow(0 10px 24px rgba(148, 153, 234, 0.10));
    width: 269px;
    height: 62px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

header {
    margin-left: 55px;
    margin-top: 20px;
}

a {
    color: #5D5D7D;    
    font-weight: 400;
    line-height: normal;
    margin-left: 41px;
    text-decoration: none;
    color: #5D5D7D;
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
}

a:nth-child(2) {
    opacity: 0.4;
}

@media screen and (max-width: 900px) {
    header {
        display: none;
   }

   .container-left {
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
   }

   .container-right {
        display: block;
        width: 100%;
        height: auto;
        position: static;
        padding: 40px;
   }

   img {
        position: static;
        max-width: 90%;
   }

   h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
   }

   p {
        margin: 50px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
   }

   button {
        display: block;
        margin: 0 auto;
   }
}